*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 70%;
  background-image: linear-gradient(to left,#44a7fd, #0383f2);
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
    background-image: linear-gradient(to left,#44a7fd, #0383f2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.message {
  color: #fff;
  font-size: 4vw;
  text-align: center;
  font-weight: 600;
  line-height: 1.35;
  font-style: italic;
}